{% extends 'index.html'%}
{% load static %}
{% block titulo %}
    <title>Paciente</title>
{% endblock titulo %}

{% block content %}
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Pacientes</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          
          <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Dashboard</a></li>
            <li class="active">Paciente</li>
          </ol>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /row -->
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
            <h3 class="box-title">Pacientes</h3>           
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Paterno</th>
                    <th>Materno</th>
                    <th>estado</th>
                  </tr>
                </thead>
                <tbody>
                  {% for paciente in pacientes %}
                    <tr>
                      <td>1</td>
                      <td>{{ paciente.nombre }}</td>
                      <td>{{ paciente.materno }}</td>
                      <td>{{ paciente.paterno }}</td>
                      <td>{{ paciente.estado }}</td>
                      <td><div class="btn-group">
															

															<button>
																<i class="fa fa-pencil"></i>
															</button>

															<button class="btn btn-xs btn-danger">
																<i class="ace-icon fa fa-trash-o bigger-120"></i>
															</button>

															<button class="btn btn-xs btn-warning">
																<i class="ace-icon fa fa-flag bigger-120"></i>
															</button>
													</div> 
                        </td>
                      
                    </tr>  
                    
                  {% endfor %} 
                              
                  
                </tbody>
                 
              </table>
              
              
            </div>
            
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>    
  </div>
      <!-- /#page-wrapper -->
{% endblock content %}
